In [1]:
import psycopg2
%load_ext sql

In [2]:
import configparser
config = configparser.ConfigParser()
config.read('dwh.cfg')

host = config['DWH']['dwh_endpoint']
dbname = config['DWH']['dwh_db'] 
user = config['DWH']['dwh_db_user'] 
password = config['DWH']['dwh_db_password'] 
port = config['DWH']['dwh_port']

In [3]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(user, password, host, port, dbname)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster1.csrlpyndzqkx.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

## Table Previews

### songplays

In [4]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster1.csrlpyndzqkx.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(31, 1541324515796, 44, 'paid', 'SOAFQGA12A8C1367FA', 'AR0IVTL1187B9AD520', 196, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (95, 1543393393796, 58, 'paid', 'SOARTRF12AB0181F4D', 'AREEUN81187B98D69E', 887, 'Augusta-Richmond County, GA-SC', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (159, 1541437227796, 73, 'paid', 'SOBANHD12A58A7BB7C', 'ARSUFX91187FB3B73E', 255, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (223, 1543445768796, 73, 'paid', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 954, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (287, 1543596702796, 16, 'paid', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 1076, 'Birmingham-Hoover, AL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"')]

### users

In [5]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster1.csrlpyndzqkx.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (2, 'Jizelle', 'Benjamin', 'F', 'free')]

### songs

In [6]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster1.csrlpyndzqkx.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOAAAQN12AB01856D3', 'Campeones De La Vida', 'ARAMIDF1187FB3D8D4', 0, Decimal('153')),
 ('SOAACFC12A8C140567', 'Supernatural Pt. II', 'ARNHTE41187B99289A', 0, Decimal('343')),
 ('SOAACTC12AB0186A20', 'Christmas Is Coming Soon', 'ARXWFZ21187FB43A0B', 2008, Decimal('180')),
 ('SOAADAD12A8C13D5B0', 'One Shot (Album Version)', 'ARQTC851187B9B03AF', 2005, Decimal('263')),
 ('SOAADJH12AB018BD30', 'Black Light (Album Version)', 'AR3FKJ61187B990357', 1975, Decimal('385'))]

### artists

In [7]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster1.csrlpyndzqkx.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('AR00B1I1187FB433EB', 'Eagle-Eye Cherry', 'Stockholm, Sweden', None, None),
 ('AR00B1I1187FB433EB', 'Eagle-Eye Cherry', 'Stockholm, Sweden', None, None),
 ('AR00DG71187B9B7FCB', 'Basslovers United', '', None, None),
 ('AR00FVC1187FB5BE3E', 'Panda', 'Monterrey, NL, México', Decimal('25'), Decimal('-100')),
 ('AR00FVC1187FB5BE3E', 'Panda', 'Monterrey, NL, México', Decimal('25'), Decimal('-100'))]

### time

In [8]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster1.csrlpyndzqkx.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 3, 1, 12, 26), 1, 3, 44, 11, 2018, 6),
 (datetime.datetime(2018, 11, 3, 15, 59, 38), 15, 3, 44, 11, 2018, 6),
 (datetime.datetime(2018, 11, 3, 16, 34, 3), 16, 3, 44, 11, 2018, 6),
 (datetime.datetime(2018, 11, 3, 16, 54, 2), 16, 3, 44, 11, 2018, 6),
 (datetime.datetime(2018, 11, 3, 17, 10, 11), 17, 3, 44, 11, 2018, 6)]

## Exploratory Data Analysis

In [ ]:
%%sql select 'staging events' as Table, count(*) from staging_events 
        UNION select 'staging songs', count(*) from staging_songs 
        UNION select 'songplays', count(*) from songplays 
        UNION select 'users', count(*) from users 
        UNION select 'artists', count(*) from artists 
        UNION select 'songs', count(*) from songs 
        UNION  select 'time', count(*) from time

### 1. Streaming by Location (Top 10)

In [9]:
%sql SELECT location, count(*) FROM songplays GROUP BY location ORDER BY count(*) DESC LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster1.csrlpyndzqkx.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('San Francisco-Oakland-Hayward, CA', 41),
 ('Portland-South Portland, ME', 31),
 ('Lansing-East Lansing, MI', 29),
 ('Waterloo-Cedar Falls, IA', 20),
 ('Tampa-St. Petersburg-Clearwater, FL', 18),
 ('Sacramento--Roseville--Arden-Arcade, CA', 17),
 ('Atlanta-Sandy Springs-Roswell, GA', 17),
 ('Chicago-Naperville-Elgin, IL-IN-WI', 15),
 ('Lake Havasu City-Kingman, AZ', 13),
 ('Janesville-Beloit, WI', 11)]

### 2. Streaming by Platform

In [10]:
%sql SELECT SPLIT_PART(SPLIT_PART(SPLIT_PART(user_agent,'(', 2),';',1),')',1) AS platforms, count(*) FROM songplays GROUP BY platforms ORDER BY 2 DESC;

 * postgresql://dwhuser:***@dwhcluster1.csrlpyndzqkx.us-west-2.redshift.amazonaws.com:5439/dwh
7 rows affected.

[('Macintosh', 139),
 ('Windows NT 5.1', 53),
 ('X11', 46),
 ('Windows NT 6.1', 40),
 ('Windows NT 6.3', 32),
 ('iPhone', 9),
 ('compatible', 1)]

### 3. Total album length for each artist (Top 10)

In [11]:
%sql SELECT SPLIT_PART(name,';',1) AS artist, ROUND(SUM(duration),0) AS total_album_minutes FROM songs INNER JOIN artists USING (artist_id) GROUP BY name ORDER BY total_album_minutes DESC LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster1.csrlpyndzqkx.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('Jean Grae', Decimal('3006')),
 ('Freddie Hubbard', Decimal('2882')),
 ('Aphex Twin', Decimal('2657')),
 ('Enigma', Decimal('2644')),
 ('Madonna', Decimal('2513')),
 ('Opeth', Decimal('2479')),
 ('Mortiis', Decimal('2445')),
 ('Herbie Hancock', Decimal('2421')),
 ('Simple Minds', Decimal('2343')),
 ('Stephan Micus', Decimal('2298'))]

### 4. Streaming by week

In [12]:
%sql SELECT week, count(*) FROM time GROUP BY week ORDER BY WEEK LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster1.csrlpyndzqkx.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(44, 972), (45, 2982), (46, 4564), (47, 4074), (48, 3520)]

### 5. Service type weight

In [13]:
%sql SELECT level, count(level) FROM songplays GROUP BY level;

 * postgresql://dwhuser:***@dwhcluster1.csrlpyndzqkx.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[('paid', 262), ('free', 58)]

### 6. Type(Level) of user by Gender

In [14]:
%sql SELECT gender, level, sum(rows) FROM (SELECT gender, level, ROW_NUMBER() over(partition by gender, level) AS rows FROM users) AS stats GROUP BY gender, level ORDER BY gender;

 * postgresql://dwhuser:***@dwhcluster1.csrlpyndzqkx.us-west-2.redshift.amazonaws.com:5439/dwh
4 rows affected.

[('F', 'paid', 10972270),
 ('F', 'free', 318801),
 ('M', 'free', 386760),
 ('M', 'paid', 993345)]

### 7. Top artists by each location (Top 10)

In [15]:
%sql SELECT location, artist_name FROM (SELECT songplays.location AS location, name AS artist_name, count(*) over(PARTITION BY songplays.location) AS counts, dense_rank() over(PARTITION BY songplays.location) AS rank FROM songplays INNER JOIN artists USING(artist_id) GROUP BY 1, 2) AS stats WHERE stats.rank =1 LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster1.csrlpyndzqkx.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('Atlanta-Sandy Springs-Roswell, GA', 'Dr. Alban'),
 ('Atlanta-Sandy Springs-Roswell, GA', 'The Smiths'),
 ('Atlanta-Sandy Springs-Roswell, GA', 'Binary Star'),
 ('Atlanta-Sandy Springs-Roswell, GA', 'The Human League'),
 ('Atlanta-Sandy Springs-Roswell, GA', 'The Presets'),
 ('Atlanta-Sandy Springs-Roswell, GA', 'Limi-T 21'),
 ('Atlanta-Sandy Springs-Roswell, GA', 'Goldfrapp'),
 ('Atlanta-Sandy Springs-Roswell, GA', 'Arctic Monkeys'),
 ('Atlanta-Sandy Springs-Roswell, GA', 'Fergie'),
 ('Atlanta-Sandy Springs-Roswell, GA', 'Jack Johnson')]

### 8. Average album length over years

In [16]:
%sql SELECT year, round(sum(duration)/count(year),2) AS average_album_length FROM songs GROUP BY year ORDER BY year LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster1.csrlpyndzqkx.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(0, Decimal('251.89')),
 (1927, Decimal('185.00')),
 (1944, Decimal('142.00')),
 (1952, Decimal('133.00')),
 (1954, Decimal('234.67'))]